<!DOCTYPE html>
<html>
<head>
	<title>系统日志</title>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	<link rel="stylesheet" href="../../css/bootstrap.min.css">
	<link rel="stylesheet" href="../../css/font-awesome.min.css">
	<link rel="stylesheet" href="../../plugins/bootstrap-table/bootstrap-table.min.css">
	<link rel="stylesheet" href="../../plugins/treegrid/jquery.treegrid.css">
	<link rel="stylesheet" href="../../plugins/ztree/css/metroStyle/metroStyle.css">
	<link rel="stylesheet" href="../../css/style.min.css">
	<link rel="stylesheet" href="../../css/common.min.css">

	<script src="../../libs/jquery.min.js"></script>
	<script src="../../libs/bootstrap.min.js"></script>
	<script src="../../plugins/layer/layer.js"></script>
	<script src="../../libs/vue.min.js"></script>
	<script src="../../plugins/ztree/jquery.ztree.all.min.js"></script>
	<script src="../../plugins/bootstrap-table/bootstrap-table.min.js"></script>
	<script src="../../plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
	<script src="../../plugins/treegrid/jquery.treegrid.min.js"></script>
	<script src="../../plugins/treegrid/jquery.treegrid.bootstrap3.js"></script>
	<script src="../../plugins/treegrid/jquery.treegrid.extension.js"></script>
	<script src="../../plugins/treegrid/tree.table.js"></script>
	<script src="../../plugins/validator/validator.js"></script>
	<script src="../../js/common.js"></script>
</head>
<body>
<div id="rrapp" class="container-fluid" v-cloak>
<!--	<div v-show="showList"></div>--><!--这个控制页面的显示与隐藏参考其他使用的页面-->
		<div class="row">
			<div class="col-md-3 form-inline pull-left">
				<div class="form-group">
					<input v-model="keyword" @keyup.enter="query" class="form-control" placeholder="请输入查询关键字" style="width: 220px;" />
				</div>
				<div class="form-group">
					<a class="btn btn-primary" @click="query"><i class="fa fa-search"></i>&nbsp;查询</a>
				</div>
			</div>
			<div class="col-md-9">
				<div class="btn-toolbar pull-right">
					<div class="btn-group">
						<a v-if="hasPermission('sys:log:list')" class="btn btn-default" onclick="reload();"><i class="fa fa-refresh"></i>&nbsp;刷新</a>
						<a v-if="hasPermission('sys:log:remove')" class="btn btn-default" @click="remove"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
						<a v-if="hasPermission('sys:log:clear')" class="btn btn-default" @click="clear"><i class="fa fa-eraser"></i>&nbsp;清空</a>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<table id="dataGrid"></table>
		</div>


</div>

<script src="../../js/modules/sys/log.js"></script>
</body>
</html>